.main {
    margin: 0;
}
*{
    font-family: 'Raleway', sans-serif;
    outline: none;
}

.container{
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    margin-top: 100px;
    color: #404040;
    letter-spacing: 1px;
    font-size: 2.5rem;
    line-height: 1.5em;
    height: 300px;
}
.typewriter-container{
    background-color: aquamarine;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.tech{
    color: grey;
    font-size: 40px;
    height: 600px;
    
}
.tech-wrap{
    background-color: #F5F5F5;
}
.tech-container{
    float: left;
    width: 25%;
    text-align: center; 
}
.tech-row{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}
i{
    font-size: 80px;
    color: #484848;
}

i:hover{
    color: #0c5b7f;
}

.footer{
    text-align: center;
    padding-bottom: 100px;
}
